@model CompetitionDomain.Model.Result

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Swim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Swim.SwimNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Swimmer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Swimmer.AgeCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
