@model CompetitionDomain.Model.Swimmer

@{
    ViewData["Title"] = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>Плавець</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Деталі</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
